<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>EK127 Check In</title>
    <script src="jquery-min.js"></script>
    <script src="raphael-2.1.4.min.js"></script>
    <script src="justgage.js"></script>
    <script src="semantic-min.js"></script>
    <script src="angular.min.js"></script>
    <script src="attendance.js"></script>
    <script src="attendanceController.js"></script>
    <script src="site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />
    <link rel="stylesheet" href="admin.css" />
</head>
<body ng-app="attendance" ng-controller="attendanceController as vm">
    <div class="ui center aligned middle aligned grid">
        <div ng-model="vm.Admin" ng-init="vm.Admin = true" class="eight wide column">
            <div class="ui segment">
                <div style="text-align: right;">
                    <div class="field">
                        <select ng-model="vm.Section" class="ui dropdown">
                            <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="B3">B3</option>
                            <option value="B4">B4</option>
                            <option value="B5">B5</option>
                            <option value="B6">B6</option>
                            <option value="B7">B7</option>
                            <option value="B8">B8</option>
                            <option value="B9">B9</option>
                            <option value="BA">BA</option>
                        </select>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="center" id="gauge" style="width:200px; height:160px"></div>

                <div class="ui relaxed divided list">
                    <div ng-repeat="x in vm.Responses" class="item">
                        <i class="large user middle aligned icon"></i>
                        <div class="content">
                            <a class="header">{{x.BUId}}</a>
                            <div class="description">{{x.PromptResponse}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
