body {
    background: linear-gradient(to bottom, rgb(16, 21, 49), rgba(9,12,37,1));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
}
body > .grid {
height: 100%;}

.ui.secondary.pointing.menu {
    border-bottom: 2px solid rgba(255, 255,255, .18);
}

.ui.secondary.pointing.menu .active.item {
    border-color: #2185d0;
    color: rgba(255, 255, 255, 0.95);
}

.ui.secondary.pointing.menu .active.item:hover {
    border-color: rgb(78, 179, 255);
    color: rgba(255, 255, 255, 0.95);
}

.ui.menu .item{
    color: rgba(255, 254, 254, 0.68);
}

.ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover {
    color: rgba(255, 255, 255, 0.87);
}

.save.btn{
    margin-top: 10px;
    float: right;
    display: block;
    transform: translateX(3px);
}

.problems{
    padding-bottom: 4em !important;
}

.blockMsg{
    border: none !important;
}