<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>EK127 Check In</title>
    <script src="jquery-min.js"></script>
    <script src="blockUI.js"></script>
    <script src="semantic-min.js"></script>
    <script src="angular.min.js"></script>
    <script src="attendance.js"></script>
    <script src="attendanceController.js"></script>
    <script src="site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />
    <link rel="stylesheet" href="admin.css" />
</head>
<body class="admin" ng-app="attendance" ng-controller="attendanceController as vm">
    <div class="ui center aligned grid">
        <div ng-model="vm.Admin" ng-init="vm.Admin = true" class="eight wide column">
            <div class="ui pointing secondary menu">
                <a class="item active" data-tab="first">Questions</a>
                <a class="item" data-tab="second">Responses</a>
            </div>
            <div class="ui tab segment active problems" data-tab="first">
                <div class="ui form">
                    <table ng-show="vm.Problems.length > 0" class="ui basic table">
                        <thead>
                            <tr>
                                <th>Problem Title</th>
                                <th>Prompt</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in vm.Problems">
                                <td><input ng-model="x.ProblemTitle" type="text" /></td>
                                <td><code><textarea ng-model="x.ProblemDescription" rows="1"></textarea></code></td>
                                <td class="right aligned">
                                    <button ng-click="vm.RemoveProblem(x.ProblemId)" class="ui mini button icon red">
                                        <i class="trash icon"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="vm.Problems.length < 4" class="ui divider"></div>
                    <button ng-show="vm.Problems.length < 4" ng-click="vm.AddNewProblem()" type="button" class="ui button blue fluid">Add New Problem</button>
                    <button ng-click="vm.SaveChanges()" class="ui basic blue button save btn">Save</button>
                </div>
            </div>
            <div class="ui tab segment" data-tab="second">
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <select ng-model="vm.Section" class="ui fluid dropdown">
                                <option value="B1">B1</option>
                                <option value="B2">B2</option>
                                <option value="B3">B3</option>
                                <option value="B4">B4</option>
                                <option value="B5">B5</option>
                                <option value="B6">B6</option>
                                <option value="B7">B7</option>
                                <option value="B8">B8</option>
                                <option value="B9">B9</option>
                                <option value="BA">BA</option>
                            </select>
                        </div>
                        <div class="field">
                            <select ng-model="vm.SelectedQuestion" class="ui fluid dropdown question">
                                <option ng-repeat="option in vm.Problems" value="{{option.ProblemId}}">{{option.ProblemTitle}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui row">
                    <div class="ui indicating progress">
                        <div class="bar"></div>
                        <div class="label">{{vm.Responses.length + ' Students have checked in.'}}</div>
                    </div>

                    <div class="eight wide column">
                        <div ng-repeat="x in vm.Responses|limitTo:4 | filter: {ProblemId: vmSelectedQuestion}" class="ui blue message">
                            <div class="header">
                                {{x.BUId + ' - ' + x.PromptTitle}}
                            </div>
                            <p>
                                {{x.PromptResponse}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $('.menu .item')
        .tab()
    ;
</script>                                    