body {
    background: linear-gradient(to bottom, rgb(16, 21, 49), rgba(9,12,37,1));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 150px;
    overflow-x: hidden;
}
body > .grid {
}
.image {
    margin-top: -100px;
}
.column {
    max-width: 470px;
}
.submit.button{
    background: #101531;
    color: white;
    margin-top: 5px;
}
.submit.button:hover{
    background: #090c26;
    color: white;
}
.blockMsg{
    border: none !important;
}

.problem.card{
    text-align: left;
}

.owl-theme .owl-controls .owl-page span {
    background: #101530;
}